<div class="h4 center-screen">Get a project quote <br /></div>
<div class="center-screen text-muted">
  Please fill the form details to receive a quote for your project.Feel <br />
  free to add as much detail as needed
</div>
<!--  -->

<!--  -->
<div
  class="card mt-5"
  id="msform"
  style="width: 40%; margin: auto"
  *ngIf="step == 1"
>
  <div class="card-header white">
    <ul id="progressbar">
      <li [ngClass]="step >= 1 ? 'active ' : 'inactive'"></li>
      <li [ngClass]="step >= 2 ? 'active' : 'inactive'"></li>
      <li [ngClass]="step >= 3 ? 'active' : 'inactive'"></li>
      <li [ngClass]="step >= 4 ? 'active' : 'inactive'"></li>
    </ul>
  </div>
  <div *ngIf="step == 1">
    <div class="col d-flex">
      <form [formGroup]="personalDetails">
        <div>
          <div>
            <div class="card-body">
              <div>Contact Details</div>
              <p class="text-muted">Lorem ipsum dolor sit amet</p>
              <div class="row">
                <div class="col">
                  <label class="m-1">Name</label>
                  <input
                    type="text"
                    class="form-control curve"
                    placeholder="Name"
                    formControlName="fullName"
                  />
                  <div class="errspan">
                    <i class="fa fa-user" style="color: #c6c9cd"></i>
                  </div>
                </div>
                <div class="col">
                  <label class="m-1">Email</label>
                  <input
                    type="text"
                    class="form-control curve"
                    placeholder="Email"
                    formControlName="email"
                  />
                  <div class="errspan">
                    <i class="fa fa-envelope" style="color: #c6c9cd"></i>
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col">
                  <label class="m-1">Phone Number</label>
                  <input
                    type="text"
                    class="form-control curve"
                    placeholder="123 456 7890"
                    formControlName="phone"
                  />
                  <div class="errspan">
                    <i class="fa fa-phone" style="color: #c6c9cd"></i>
                  </div>
                </div>
                <div class="col">
                  <label class="m-1">Company</label>
                  <input
                    type="text"
                    class="form-control curve"
                    placeholder="Company"
                    formControlName="company"
                  />
                  <div class="errspan">
                    <i class="fa fa-building" style="color: #c6c9cd"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<button
  class="btn btn-primary next curve1 col-md-1"
  (click)="next()"
  *ngIf="step == 1"
  [disabled]="personalDetails.invalid"
>
  Next
</button>
<!-- Form-2 -->
<div>
  <div
    class="card mt-5"
    id="msform"
    style="width: 40%; margin: auto"
    *ngIf="step == 2"
  >
    <div class="card-header white">
      <ul id="progressbar">
        <li [ngClass]="step >= 1 ? 'active ' : 'inactive'"></li>
        <li [ngClass]="step >= 2 ? 'active' : 'inactive'"></li>
        <li [ngClass]="step >= 3 ? 'active' : 'inactive'"></li>
        <li [ngClass]="step >= 4 ? 'active' : 'inactive'"></li>
      </ul>
    </div>
    <div>
      <div>
        <div class="col d-flex" *ngIf="step == 2">
          <form [formGroup]="projectServices">
            <div formGroupName="services">
              <div>
                <div class="card-body">
                  <div>Our services</div>
                  <p class="text-muted">
                    Please select which service you are interested in.
                  </p>
                  <div class="row">
                    <div class="col">
                      <div class="list">
                        <div class="form-element">
                          <input
                            type="checkbox"
                            id="instagram"
                            formControlName="dev"
                          />
                          <label for="instagram">
                            <div class="icon m-2">
                              <i class="fa fa-window-maximize m-2"></i>
                            </div>
                            <div class="title mt-2">Development</div>
                          </label>
                        </div>
                        <div class="col">
                          <div class="form-element">
                            <input
                              type="checkbox"
                              id="twitch"
                              formControlName="web"
                            />
                            <label for="twitch">
                              <div class="icon m-2">
                                <i class="fa fa-windows m-2"></i>
                              </div>
                              <div class="title mt-2">Web Design</div>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="list">
                        <div class="form-element">
                          <input
                            type="checkbox"
                            id="slack"
                            formControlName="marketing"
                          />
                          <label for="slack">
                            <div class="icon m-2">
                              <i class="fa fa-bullhorn m-2"></i>
                            </div>
                            <div class="title mt-2">Marketing</div>
                          </label>
                        </div>
                        <div class="col">
                          <div class="form-element">
                            <input
                              type="checkbox"
                              id="twitter"
                              formControlName="others"
                            />
                            <label for="twitter">
                              <div class="icon m-2">
                                <i class="fa fa-cog m-2"></i>
                              </div>
                              <div class="title mt-2">Other</div>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="step == 2" class="row margin mt-3">
  <div class="col">
    <button
      class="btn btn-outline-primary curve1 col-md-3"
      (click)="previous()"
    >
      Previous
    </button>
  </div>
  <div class="col">
    <button
      class="btn btn-primary curve1 col-md-3"
      [disabled]="projectServices.invalid"
      (click)="next()"
    >
      Next
    </button>
  </div>
</div>
<!-- Form-3 -->

<div>
  <div
    class="card mt-5"
    id="msform"
    style="width: 40%; margin: auto"
    *ngIf="step == 3"
  >
    <div class="card-header white">
      <ul id="progressbar">
        <li [ngClass]="step >= 1 ? 'active ' : 'inactive'"></li>
        <li [ngClass]="step >= 2 ? 'active' : 'inactive'"></li>
        <li [ngClass]="step >= 3 ? 'active' : 'inactive'"></li>
        <li [ngClass]="step >= 4 ? 'active' : 'inactive'"></li>
      </ul>
    </div>
    <div>
      <div>
        <div class="col d-flex" *ngIf="step == 3">
          <form [formGroup]="budget">
            <div>
              <div>
                <div class="card-body">
                  <div>What's your project budget?</div>
                  <p class="text-muted">
                    Please select the project budget range you have in mind.
                  </p>
                  <div class="row">
                    <div class="col" *ngFor="let item of RADIO_LIST">
                      <div class="list">
                        <div class="form-element">
                          <input
                            id="pinterest"
                            type="radio"
                            [value]="item.value"
                            [checked]="item.checked"
                            formControlName="paymentOptions"
                          />
                          <label for="pinterest">
                            <div class="title mt-2 m-3">{{ item.name }}</div>
                          </label>
                        </div>
                        <div class="col" *ngFor="let amount of RADIO_LIST2">
                          <div class="form-element">
                            <input
                              id="dribble"
                              type="radio"
                              [value]="amount.value"
                              [checked]="amount.checked"
                              formControlName="paymentOptions"
                            />
                            <label for="dribble">
                              <div class="title mt-2 m-3">
                                {{ amount.name }}
                              </div>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col" *ngFor="let items of RADIO_LIST3">
                      <div class="list">
                        <div class="form-element">
                          <input
                            id="codepen"
                            type="radio"
                            [value]="items.value"
                            [checked]="items.checked"
                            formControlName="paymentOptions"
                          />
                          <label for="codepen">
                            <div class="title mt-2 m-3">{{ items.name }}</div>
                          </label>
                        </div>
                        <div class="col" *ngFor="let amounts of RADIO_LIST4">
                          <div class="form-element">
                            <input
                              id="github"
                              type="radio"
                              [value]="amounts.value"
                              [checked]="amounts.checked"
                              formControlName="paymentOptions"
                            />
                            <label for="github">
                              <div class="title mt-2 m-3">
                                {{ amounts.name }}
                              </div>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step == 3" class="row margin mt-3">
    <div class="col">
      <button
        class="btn btn-outline-primary curve1 col-md-3"
        (click)="previous()"
      >
        Previous
      </button>
    </div>
    <div class="col">
      <button
        class="btn btn-primary curve1 col-md-3"
        [disabled]="budget.invalid"
        (click)="next()"
      >
        Next
      </button>
    </div>
  </div>
  <!-- form4 -->

  <div>
    <div
      class="card mt-5"
      id="msform"
      style="width: 40%; margin: auto"
      *ngIf="step == 4"
    >
      <div class="card-header white">
        <ul id="progressbar">
          <li [ngClass]="step >= 1 ? 'active ' : 'inactive'"></li>
          <li [ngClass]="step >= 2 ? 'active' : 'inactive'"></li>
          <li [ngClass]="step >= 3 ? 'active' : 'inactive'"></li>
          <li [ngClass]="step >= 4 ? 'active' : 'inactive'"></li>
        </ul>
      </div>
      <div>
        <div *ngIf="step == 4">
          <div class="col d-flex">
            <div>
              <div>
                <div class="text-center mt-4" style="color: #32c328">
                  <i class="fa fa-check-circle icm"></i>
                </div>
                <div class="card-body text-center h4">
                  Submit your quote request
                </div>
                <div>
                  <p class="text-muted text-center">
                    Please review all the information previously typed in <br />
                    in the past steps and if all is okay. Submit your message to
                    <br />receive a project quote in 24-48 hours
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary curve1" (click)="submit()">
          Submit
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="step == 4" class="row margin mt-3">
    <div class="col">
      <button
        class="btn btn-outline-primary curve1 col-md-2"
        (click)="previous()"
      >
        Previous
      </button>
    </div>
  </div>
</div>
