.curve {
  border-radius: 50px;
}

.errspan {
  float: right;
  margin-right: 10px;
  margin-top: -30px;
}
@media screen and (min-width: 600px) {
  .next {
    margin-top: 12px;
    margin-left: 65%;
  }
}
.white {
  background-color: white;
}
.curve1 {
  border-radius: 50px;
}
.curve2 {
  border-radius: 50px;
  margin-top: 12px;
}
#progressbar {
  margin-bottom: 18px;
  overflow: hidden;
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  font-size: 9px;
  width: 25%;
  float: left;
  position: relative;
  letter-spacing: 1px;
  text-align: center;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  border-radius: 25px;
  color: #6b5e5e;
}
#progressbar li:after {
  content: "";
  width: 58%;
  height: 5px;
  position: absolute;
  left: -65%;
  top: 9px;
  color: #3b71ca;
  z-index: 0;
  border-radius: 10px;
}
#progressbar li:first-child:after {
  content: none;
}
#progressbar li.active:before,
#progressbar li.active:after {
  background: #3b71ca;
  color: white;
}
#progressbar li.inactive:before {
  background: lightgray;
}
#msform {
  margin-top: 30px;
  font-weight: 500;
}
#msform {
  border-radius: 25px;
  box-shadow: 0px 0px 4px 0px lightgray;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
}
.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 3px;
}
.margin {
  margin-left: 25%;
}
.margin1 {
  margin-left: 54%;
}
.icm {
  font-size: 75px;
}
.previous {
  margin-left: 30%;
}

/*  */

.list {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 650px;
  margin: 15px;
}
.form-element {
  position: relative;
  width: 180px;
  height: 55px;
}
.form-element input {
  display: none;
}
.form-element label {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0px 1px 5px lightgray;
  text-align: center;
  transition: all 200ms ease-in-out;
  border-radius: 12px;
}
.form-element .icon {
  margin-top: 5px;
  font-size: 23px;
  color: #3b71ca;
  transition: all 200ms ease-in-out;
}
.form-element .title {
  font-size: 17px;
  color: #555;
  padding: 5px 0px;
  transition: all 100s ease-in-out;
}
.form-element label:before {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 8px;
  left: 8px;
  background: #3b71ca;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  transform: scale(2);
  transition: all 100s ease-in-out;
}

/* .form-element input:checked + label .icon {
  color: #678fd0;
}
.form-element input:checked + label .title {
  color: #678fd0;
} */
.form-element input:checked + label {
  border: 1.5px solid #678fd0;
}
