<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="row">
    <div *ngFor="let item of RADIO_LIST; let i = index" class="col">
      <input
        type="radio"
        [value]="item.value"
        [checked]="item.checked"
        formControlName="paymentOptions"
      />
      <label>{{ item.name }}</label>
    </div>
  </div>
  <div class="row">
    <div class="col" *ngFor="let items of RADIO_LIST2; let i = index">
      <input
        type="radio"
        [value]="items.value"
        [checked]="items.checked"
        formControlName="paymentOptions"
      />
      <label>{{ items.name }}</label>
    </div>
  </div>
  <div
    class="error-msg"
    *ngIf="isFormSubmitted && myForm.controls['paymentOptions'].errors?.['required']"
  >
    Please select any option above!
  </div>

  <button type="submit" color="danger" expand="block">Submit</button>

  <h4>{{ submittedValue | json }}</h4>
</form>
