<div class="row">
  <div class="col">
    <div class="list">
      <div class="form-element">
        <input type="checkbox" id="instagram" />
        <label for="instagram">
          <div class="icon m-2">
            <i class="fa fa-window-maximize"></i>
          </div>
          <div class="title mt-2">Development</div>
        </label>
      </div>
      <div class="col">
        <div class="form-element">
          <input type="checkbox" id="twitch" />
          <label for="twitch">
            <div class="icon m-2">
              <i class="fa fa-window-maximize"></i>
            </div>
            <div class="title mt-2">Web Design</div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="list">
      <div class="form-element">
        <input type="checkbox" id="slack" />
        <label for="slack">
          <div class="icon m-2">
            <i class="fa fa-window-maximize"></i>
          </div>
          <div class="title mt-2">Marketing</div>
        </label>
      </div>
      <div class="col">
        <div class="form-element">
          <input type="checkbox" id="twitter" />
          <label for="twitter">
            <div class="icon m-2">
              <i class="fa fa-window-maximize"></i>
            </div>
            <div class="title mt-2">Other</div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
